<h4>{= 通知设置 }</h4>
<form action="@self(['action'=>'color'])" method="POST">
    <div class="form-group row">
        <label for="msg" class="col-sm-2 col-form-label">通知内容</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="message" id="message" placeholder="通知信息" value="{{$:message.message('')}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="time" class="col-sm-2 col-form-label">展示时间</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="time" id="time" placeholder="展示时间（毫秒）" value="{{$:message.time(5000)}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="url" class="col-sm-2 col-form-label">跳转URL</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="url" id="url" placeholder="URL" value="{{$:message.url('')}}">
        </div>
    </div>
    <div class="form-row">
        <label for="color" class="col-sm-2 col-form-label">颜色控制</label>
        <div class="form-group col-md-5">
            <label for="color">前景色</label>
            <input type="text" class="form-control" name="color" id="color" placeholder="#000000" value="{{$:message.color('#000000')}}">
        </div>
        <div class="form-group col-md-5">
            <label for="bgcolor">背景色</label>
            <input type="text" class="form-control" name="bgcolor" id="bgcolor" placeholder="#FFFFFF" value="{{$:message.backgroundColor('#FFFFFF')}}">
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="show" @b($:show(true), 'checked')>
            <label class="form-check-label" for="show">
                是否显示
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">设置</button>
</form>
<h4 class="mt-2">{= 开屏广告 }</h4>
<form action="@self(['action'=>'image'])" method="POST" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label">展示图片({{$:image.imageId}})</label>
        <div class="col-sm-10">
            <input type="file" class="form-control-file" id="image" name="image">
        </div>
    </div>
    <div class="form-group row">
        <label for="url" class="col-sm-2 col-form-label">跳转URL</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="add_url" id="url" placeholder="URL" value="{{$:ads('')}}">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">设置</button>
</form>

<h4 class="mt-2">{= 版本更新推送 }</h4>
<form action="@self(['action'=>'update'])" method="POST" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label">展示图片({{$:update.imageId(0)}})</label>
        <div class="col-sm-10">
            <input type="file" class="form-control-file" id="image" name="icon">
        </div>
    </div>
    <div class="form-group row">
        <label for="url" class="col-sm-2 col-form-label">版本信息</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="update[name]" id="url" placeholder="name" value="{{$:update.name('Code4A')}}" required>
        </div>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="update[version]" id="url" placeholder="version" value="{{$:update.version('1.0.0-beta')}}" aria-required="">
        </div>
    </div>
    <div class="form-group row">
        <label for="versionInfo" class="col-sm-2 col-form-label">更新信息</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="update[versionInfo]" id="versionInfo" rows="3" placeholder="更新信息">{{$:update.versionInfo('')}}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="url" class="col-sm-2 col-form-label">下载URL</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="update[download]" id="url" placeholder="URL" value="{{$:update.download('')}}" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">设置</button>
</form>